
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
 



/* Override some defaults */
body {
  background-color: #b01f15;
}
a, a:active, a:visited {
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 1px #000;
}
a:hover {
  color: #ededed;
  text-decoration: none;
}

/* The white background content wrapper */
.content {
  //background-color: #fff;
  //padding: 20px;
  //margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  //-webkit-border-radius: 0 0 6px 6px;
  //   -moz-border-radius: 0 0 6px 6px;
  //        border-radius: 0 0 6px 6px;
  //-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  //   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  //        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  //background-color: #f5f5f5;
  //padding: 20px 20px 10px;
  //margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}
