// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.container {
		width: 100%;
		.content-fluid {
			#mid-fields {
				position: absolute;
				top: 50%;
				margin-top: -72px;
				width: 100%;
				text-align: center;
				z-index: 999;
        .group {
          margin: 0 auto;
          width: 485px;
          h1 {
            color: white;
            text-shadow: 1px 1px 1px #000;
            width: 170px;
            float: left;
          }
          #track-info {
            color: white;
            text-shadow: 1px 1px 1px #000;
            clear: both;
            text-align: left;
            font-size: 11px;  
            margin-bottom: 1px;
          }
          #controls {
            text-align: right;
            line-height: 35px;
            a {
              padding-left: 20px;
            }
          }
        }
				#search-fields {
					input {
						background-color: rgba(255, 255, 255, 0.3);
						color: white;
						height: 50px;
						width: 400px;
						font-size: 32px;
					  text-shadow: 1px 1px 1px #000;
					  padding: 5px 15px;
					}
					input[type=submit] {
						width: 50px;
						height: 62px;
					}
					input[type=submit]:hover {
						background-color: rgba(255, 255, 255, 0.5);
					}
          .sample-searches {
            margin: -15px auto 0;
            color: white;
            text-shadow: -1px -1px 0px #000000;
            width: 460px;
            a {
              padding: 0 5px;
              text-decoration: underline;
              line-height: 22px;
              white-space: nowrap;
            }
            a:hover {
              color:white;
            }
          }
				}
			}
      #mid-fields.homepage {
        margin-top: -144px;
      }
			#progress {
				background-color: transparent;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				#progress-position {
					background-color: rgba(0, 0, 0, 0.15);
					width: 0;
					height: 100%;
					position: relative;
					.line {
						position: absolute;
						right: 0;
						height: 100%;
						width: 0;
						border-right: 1px solid rgba(0, 0, 0, 0.2);
						z-index: 9;
					}
				}
				#peak {
					display:none;
				}
			}
			#tracklist {
				margin: 0 auto;
				max-width: 700px;
				list-style: none;
				text-align: center;
				padding: 0;
				.track {
					display:none;
					img.artwork,
					h3,
					a.permalink {
						display:none;
					}
					img.waveform {
						position: absolute;
						//background-color: rgba(0, 0, 0, 0.3);
						width: 100%;
						height: 100%;
						opacity: 0.3;
						top: 0;
						left: 0;
					}
				}
			}
      #about-info {
        position: absolute;
        bottom: 0;
        right: 0;
        color: rgba(255, 255, 255, 0.8);
        font-size: 10px;
        text-align: right;
        padding: 5px 7px;
        line-height: 14px;
        z-index: 9999;
        a {
          font-size: 10px;
        }
      }
		}
	}

  // Landscape phones and down
  @media (max-width: 480px) {

  }
   
  // Landscape phone to portrait tablet
  @media (max-width: 768px) {

  }
   
  // Portrait tablet to landscape and desktop
  @media (min-width: 768px) and (max-width: 980px) {

  }
   
  // Large desktop
  @media (min-width: 1200px) {

  }

