// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.container {
		width: 100%;
		.content-fluid {
			#search-fields {
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				input {
					background-color: rgba(255, 255, 255, 0.3);
					color: white;
					height: 50px;
					width: 400px;
					font-size: 32px;
				  text-shadow: 1px 1px 1px #000;
				  padding: 5px 15px;
				}
				input[type=submit] {
					width: 50px;
					height: 62px;
				}
				input[type=submit]:hover {
					background-color: rgba(255, 255, 255, 0.5);
				}
			}
			#progress {
				background-color: rgba(0, 0, 0, 0.3);
				width: 100%;
				height: 80px;
				#progress-position {
					background-color: rgba(0, 0, 0, 0.3);
					width: 0;
					height: 100%;
					position: relative;
					.line {
						position: absolute;
						right: 0;
						height: 100%;
						width: 0;
						border-right: 1px solid rgba(0, 0, 0, 0.5);
						z-index: 999;
					}
				}
				#peak {
					display:none;
				}
			}
			#controls {
				text-align: center;
			}
			#tracklist {
				margin: 0 auto;
				max-width: 700px;
				list-style: none;
				text-align: center;
				padding: 0;
				.track {
					display:none;
					img.artwork,
					a.permalink {
						display:none;
					}
					img.waveform {
						position: absolute;
						//background-color: rgba(0, 0, 0, 0.3);
						width: 100%;
						height: 80px;
						top: 0;
						left: 0;
					}
				}
			}
		}
	}

  // Landscape phones and down
  @media (max-width: 480px) {

  }
   
  // Landscape phone to portrait tablet
  @media (max-width: 768px) {

  }
   
  // Portrait tablet to landscape and desktop
  @media (min-width: 768px) and (max-width: 980px) {

  }
   
  // Large desktop
  @media (min-width: 1200px) {

  }

